@reference "tailwindcss";

.landingPage {
  @apply grid items-center justify-items-center min-h-[calc(100vh-40px)] p-8 pb-20 mb-40 z-10;
}

.landingPageHeaders {
  @apply text-[2.2rem] sm:text-[2.5rem] md:text-5xl font-bold md:mb-4 text-center;
}

.fullScreenView {
  @apply grid-cols-1 items-center justify-items-center min-h-[calc(100vh-40px)] px-[.25rem] pt-4 sm:p-8 pb-20 gap-0;
}

.headers {
  @apply font-bold text-4xl sm:text-5xl mb-12 sm:mb-16 text-center;
}

.landingPageTransition {
  @apply fixed bottom-0 left-0 h-64 w-full bg-gradient-to-t from-[#141e38] to-transparent -z-10;
}

.animatedBackground {
  background: radial-gradient(circle at 20% 20%, #ff0122, transparent 40%),
    radial-gradient(circle at 80% 30%, #7873f5, transparent 40%),
    radial-gradient(circle at 50% 80%, #48c6ef, transparent 40%);
  animation: swirl 15s ease-in-out infinite;
  @apply fixed top-0 left-0 w-full h-full -z-10 opacity-40 bg-[length:200%_200%] blur-[40px];
}

.copyright {
  @apply p-4 text-center text-xs sm:text-sm font-sans bg-[#121d38];
}


@keyframes swirl {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}